/* .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  } */